/* HEADER */

.desktop {
	background-image: url(./../images/banner/banner.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 0;
	padding-bottom: 70%;
}

.header {
	background-color: transparent;
}

.header__menu,
.header__button {
	display: block;
}

.header__menu {
	display: flex;
	column-gap: 30px;
}

.header__menu-link {
	text-decoration: none;
	color: var(--color-light-background);
}

.header__link--dropdown {
	position: relative;
}

.header__link--dropdown::after {
	content: ">";
	rotate: 90deg;
	padding-left: 8px;
	position: absolute;
}

.header__burger {
	display: none;
}

.header__button {
	font-size: 16px;
	background-color: var(--color--review-background);
	color: var(--color-light-background);
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	margin-right: 10px;
}

/* PROMOTION */

.promotion {
	background-image: none;
}

.promotion__title {
	width: 80%;
}

.promotion__text {
	font-size: 1.3vw;
	width: 70%;
	margin-left: 50px;
}

.button {
	min-width: 16%;
	margin-left: 50;
	font-size: 1.3vw;
}

.promotion__box {
	margin-top: 150px;
}

.promotion__image-box {
	width: 35vw;
	margin-top: 150px;
	margin-left: 0;
}

/* APPS */

.advantages__title {
	width: 32%;
	margin-top: 120px;
}

/* DESCRIPTION */

.description {
	margin-top: 100px;
	margin-bottom: 80px;
}

.description__container {
	display: flex;
	column-gap: 40px;
	padding-right: 30px;
}

.description__box {
	flex-basis: 50%;
}

.description__title {
	margin-top: 80px;
	width: 90%;
}

.description__article {
	margin-left: 10px;
}

.description__text {
	text-align: left;
	font-size: 1.7vw;
	padding-right: 70px;
}

.description__img-box {
	width: 35vw;
}

.button--blue {
	width: 20vw;
	margin-left: 10px;
	padding: 15px 15px;
}

/* PACKAGE */

.package__list {
	padding-left: 50px;
	padding-right: 50px;
}

/* LOGOs */

.logos {
	display: flex;
	flex-direction: row;
}

.logos__title {
	font-size: 3.8vw;
	align-self: flex-start;
	padding-bottom: 70px;
}

.logos__box {
	margin-top: 0;
	margin-bottom: 0;
	width: 30%;
	align-items: center;
	margin-right: 30px;
}

/* APPLAB */

.applab__container {
	margin-bottom: 120px;
	display: flex;
	flex-direction: row;
}

.applab__box--upper {
	flex-basis: 55%;
	column-gap: 0px;
	margin-top: 70px;
	padding-right: 0;
}

.applab__box--lower {
	display: flex;
	column-gap: 50px;
	flex-basis: 45%;
	margin-left: 50px;
	margin-top: 70px;
	padding-left: 0;
	padding-right: 0px;
}

.applab__logo-box {
	flex-basis: 70%;
	padding-right: 50px;
	padding-top: 0px;
}

.applab__services-box,
.applab__links-box {
	flex-basis: 30%;
}

.applab__text {
	margin-bottom: 40px;
	font-size: 1.3vw;
}

.applab__title {
	font-size: 2vw;
}

.applab__list-item {
	font-size: 1.1vw;
}

/* FOOTER */

.footer {
	font-size: 1vw;
}

.footer__divide {
	height: 1vw;
}
