/* HEADER */

.header {
	background-color: var(--color-dark-background);
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 60px;
}

.header__img {
	height: 2.2rem;
	margin-left: 15px;
}

.header__burger {
	margin-right: 15px;
	margin-top: 8px;
	width: 2rem;
	height: 2rem;
	border: 0;
	border-top: 3px solid #ffffff;
	background: transparent;
	position: relative;
	transition: 0.3s transform linear;
}

.header__burger::before,
.header__burger::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-top: 3px solid #ffffff;
	transform: translateY(8px);
}

.header__burger::after {
	transform: translateY(19px);
	transition: 0.3s transform linear;
}

.header__burger:focus {
	transform: rotate(45deg) translateY(5px);
	border: none;
}

.header__burger:focus::after {
	transform: rotate(-90deg) translateX(-10px);
}

/* PROMOTION */

.promotion__container,
.description__container {
	display: flex;
	flex-direction: column;
}

.title {
	font-size: 5.5vw;
	margin-left: 10px;
}

.title--white {
	max-width: 75%;
	line-height: 1.2em;
	margin-top: 25px;
	margin-bottom: 15px;
}

.promotion__text {
	margin-left: 10px;
	margin-bottom: 45px;
	font-size: 2.7vw;
}

.button {
	max-width: 33%;
	margin-left: 10px;
	border-radius: 5px;
	border: none;
	padding: 18px 34px;
	font-size: 2.7vw;
	color: var(--color-light-background);
	text-align: center;
}

.promotion__button {
	margin-bottom: 70px;
	background-color: var(--color-button-promo);
}

.promotion__image--box {
	width: 70vw;
}

.promotion__image {
	width: 100%;
	margin-left: 15vw;
}

/* APPS */

.advantages__list,
.advantages__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title--black {
	margin-bottom: 10px;
	text-align: center;
}

.advantages__img--box {
	width: 20vw;
	height: 20vw;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.advantages__img {
	width: 45%;
}

.advantages__img--blue-box {
	background-color: var(--color--logo-1);
}

.advantages__text {
	font-size: 4vw;
	margin-top: 25px;
	max-width: 45vw;
	font-weight: 500;
}

.advantages__img--orange-box {
	background-color: var(--color--logo-2);
}

.advantages__img--green-box {
	background-color: var(--color--logo-3);
}

.advantages__text,
.advantages__item {
	text-align: center;
}

.advantages__item {
	width: 50vw;
}

.advantages__text-long {
	width: 100%;
}

/* DESCRIPTION */

.title--black-description {
	margin-top: 80px;
}

.description__text {
	width: 86vw;
	text-align: left;
	margin-left: 20px;
	font-size: 2.7vw;
}

.description__article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button--blue {
	background-color: var(--color--logo-1);
	margin-top: 30px;
	margin-left: 40px;
}

.description__img-box {
	width: 95vw;
	margin-top: 25px;
}

/* REVIEW */

.review {
	background: url(./../images/banner/testmonial.png);
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 0;
	padding-bottom: 80%;
	margin-top: 40px;
}

.review--layer {
	background-color: var(--color--review-background);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.review__title {
	color: var(--color-light-background);
	max-width: 75%;
	text-align: center;
	font-weight: 500;
}

.review__box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.review__text {
	color: var(--color-light-background);
	max-width: 85%;
	text-align: center;
	margin-top: 30px;
	font-size: 3vw;
	font-weight: 500;
}

.review__list {
	display: flex;
	column-gap: 5px;
}

.review__opinion {
	display: flex;
	margin-top: 30px;
	align-items: center;
}

.review--star {
	color: gold;
	font-size: 3.7vw;
}

.review__author {
	padding-left: 3px;
	color: var(--color-light-background);
	font-size: 2.7vw;
}

/* PACKAGE */

.package {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}

.package__info {
	text-align: center;
}

.package__text {
	margin-top: 20px;
	font-size: 2.7vw;
}

.package__card {
	display: flex;
	flex-direction: column;
	width: 85vw;
}

.package__header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
