/* HEADER */

.header {
	background-color: var(--color-dark-background);
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 60px;
}

.header__img {
	height: 2.2rem;
	margin-left: 15px;
}

.header__burger {
	margin-right: 15px;
	margin-top: 8px;
	width: 2rem;
	height: 2rem;
	border: 0;
	border-top: 3px solid #ffffff;
	background: transparent;
	position: relative;
	transition: 0.3s transform linear;
}

.header__burger::before,
.header__burger::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-top: 3px solid #ffffff;
	transform: translateY(8px);
}

.header__burger::after {
	transform: translateY(19px);
	transition: 0.3s transform linear;
}

.header__burger:focus {
	transform: rotate(45deg) translateY(5px);
	border: none;
}

.header__burger:focus::after {
	transform: rotate(-90deg) translateX(-10px);
}

/* PROMOTION */

.promotion {
	background-color: var(--color--logo-1);
	background-image: url(./../images/banner/banner.png);
	object-fit: contain;
	background-repeat: no-repeat;
}

.promotion__container,
.description__container {
	display: flex;
	flex-direction: column;
}

.title {
	font-size: 5.5vw;
	margin-left: 10px;
}

.title--white {
	max-width: 75%;
	line-height: 1.2em;
	margin-top: 25px;
	margin-bottom: 15px;
}

.promotion__text {
	margin-left: 10px;
	margin-bottom: 45px;
	font-size: 2.7vw;
}

.button {
	max-width: 33%;
	margin-left: 10px;
	border-radius: 5px;
	border: none;
	padding: 18px 34px;
	font-size: 2.7vw;
	color: var(--color-light-background);
	text-align: center;
}

.promotion__button {
	margin-bottom: 70px;
	background-color: var(--color-button-promo);
}

.promotion__image--box {
	width: 70vw;
}

.promotion__image {
	width: 100%;
	margin-left: 15vw;
}

/* APPS */

.advantages__list,
.advantages__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title--black {
	margin-bottom: 10px;
	text-align: center;
}

.advantages__img--box {
	width: 20vw;
	height: 20vw;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.advantages__img {
	width: 45%;
}

.advantages__img--blue-box {
	background-color: var(--color--logo-1);
}

.advantages__text {
	font-size: 4vw;
	margin-top: 25px;
	max-width: 45vw;
	font-weight: 500;
}

.advantages__img--orange-box {
	background-color: var(--color--logo-2);
}

.advantages__img--green-box {
	background-color: var(--color--logo-3);
}

.advantages__text,
.advantages__item {
	text-align: center;
}

.advantages__item {
	width: 50vw;
}

.advantages__text-long {
	width: 100%;
}

/* DESCRIPTION */

.title--black-description {
	margin-top: 80px;
}

.description__text {
	width: 86vw;
	text-align: left;
	margin-left: 20px;
	font-size: 2.7vw;
}

.description__article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button--blue {
	background-color: var(--color--logo-1);
	margin-top: 30px;
	margin-left: 40px;
}

.description__img-box {
	width: 95vw;
	margin-top: 25px;
}

/* REVIEW */

.review {
	background: url(./../images/banner/testmonial.png);
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 0;
	padding-bottom: 80%;
	margin-top: 40px;
}

.review--layer {
	background-color: var(--color--review-background);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.review__title {
	color: var(--color-light-background);
	max-width: 75%;
	text-align: center;
	font-weight: 500;
}

.review__box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.review__text {
	color: var(--color-light-background);
	max-width: 85%;
	text-align: center;
	margin-top: 30px;
	font-size: 3vw;
	font-weight: 500;
}

.review__list {
	display: flex;
	column-gap: 5px;
}

.review__opinion {
	display: flex;
	margin-top: 30px;
	align-items: center;
}

.review--star {
	color: gold;
	font-size: 3.7vw;
}

.review__author {
	padding-left: 3px;
	color: var(--color-light-background);
	font-size: 2.7vw;
}

/* PACKAGE */

.package {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}

.package__info {
	text-align: center;
}

.package__text {
	margin-top: 20px;
	font-size: 2.7vw;
	margin-bottom: 10px;
}

.package__card {
	display: flex;
	flex-direction: column;
	width: 85vw;
	margin-top: 30px;
	box-shadow: 1px 15px 25px 8px lightgrey;
}

.package__header {
	display: flex;
	justify-content: space-between;
	padding: 20px 30px;
}

.package__header--top {
	background-color: var(--color--basic);
}

.package__title,
.package__price {
	font-weight: 900;
	font-size: 3.2vw;
}

.package__price--top {
	color: var(--color--logo-1);
}

.package__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 30px;
	font-size: 3vw;
}

.package__item {
	margin-top: 30px;
}

.package__button {
	width: 25%;
	border-radius: 5px;
	border-color: var(--color--review-background);
	font-size: 2.5vw;
	color: var(--color--review-background);
	text-align: center;
	margin-bottom: 30px;
	padding: 10px 30px;
	background-color: #ffffff;
}

.package__price--middle {
	color: var(--color--middle);
}

.package__header--middle {
	background-color: var(--color--middle-background);
}

.package__header--bottom {
	background-color: var(--color--bottom-background);
}

.package__price--bottom {
	color: var(--color--logo-3);
}

/* LOGOs */

.logos {
	background-color: var(--color--logo-1);
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.logos__title {
	padding-top: 100px;
	color: var(--color-light-background);
	font-size: 5.5vw;
	width: 80%;
}

.logos__box {
	display: flex;
	margin-top: 20px;
	column-gap: 5px;
	margin-bottom: 100px;
	width: 90%;
	justify-content: center;
}

.logos__img-google {
	width: 27vw;
}

.logos__img-app {
	width: 24vw;
}

/* APPLAB */

.applab__container {
	margin-bottom: 50px;
}

.applab {
	background-color: var(--color-dark-background);
}

.applab__logo {
	margin-top: 30px;
}

.applab__text {
	color: var(--color--basic);
	width: 85%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.applab__logo-list {
	display: flex;
	column-gap: 10px;
	margin-bottom: 20px;
}

.applab__item {
	background-color: var(--color--round-background);
	opacity: 0.9;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.applab__icon {
	color: var(--color--basic);
}

.applab__title {
	color: var(--color-light-background);
	font-size: 4.2vw;
	margin-top: 25px;
}

.applab__list-item {
	color: var(--color--basic);
	margin-top: 23px;
	font-size: 2.5vw;
}

/* FOOTER */

.footer {
	background-color: var(--color-dark-background);
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer__text {
	color: var(--color--basic);
	font-size: 2.5vw;
}

.footer__divide {
	border-left: 1px solid var(--color--basic);
	height: 2.5vw;
	width: 0;
	margin-right: 2px;
}

.footer__company {
	color: var(--color--logo-1);
}
