/* HEADER */

.header {
	background-color: var(--color-dark-background);
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 60px;
}

.header__menu,
.header__button {
	display: none;
}

.header__img {
	height: 2.2rem;
	margin-left: 15px;
}

.header__burger {
	margin-right: 15px;
	margin-top: 8px;
	width: 2rem;
	height: 2rem;
	border: 0;
	border-top: 3px solid #ffffff;
	background: transparent;
	position: relative;
	transition: 0.3s transform linear;
}

.header__burger::before,
.header__burger::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-top: 3px solid #ffffff;
	transform: translateY(8px);
}

.header__burger::after {
	transform: translateY(19px);
	transition: 0.3s transform linear;
}

.header__burger:focus {
	transform: rotate(45deg) translateY(8px);
	border: none;
}

.header__burger:focus::after {
	transform: rotate(-90deg) translateX(-9px);
}

/* PROMOTION */

.promotion {
	background-image: url(./../images/banner/banner.png);
	background-size: cover;
	height: 0;
	padding-top: calc(355 / 700 * 100%);
}

.promotion__container {
	display: flex;
	justify-content: center;
	column-gap: 10px;
	position: absolute;
	top: 120px;
}

.promotion__title {
	font-size: 3.5vw;
	font-weight: 600;
	width: 80%;
	color: var(--color-light-background);
	margin-left: 50px;
}

.promotion__text {
	margin-top: 10px;
	margin-bottom: 25px;
	font-size: 2vw;
	width: 65%;
	color: var(--color-light-background);
	margin-left: 50px;
}

.button {
	min-width: 40%;
	margin-left: 50px;
	border-radius: 5px;
	border: none;
	padding: 14px 34px;
	font-size: 1.8vw;
	color: var(--color-light-background);
	text-align: center;
}

.promotion__button {
	background-color: var(--color-button-promo);
}

.promotion__image-box {
	width: 30vw;
	margin-left: 0;
	margin-right: 50px;
}

.promotion__image {
	width: 100%;
}

/* APPS */

.advantages__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.advantages__list {
	display: flex;
	column-gap: 5px;
}

.advantages__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.advantages__title {
	color: var(--color-dark-background);
	font-weight: 600;
	width: 35%;
	text-align: center;
	margin-left: 0;
	margin-bottom: 20px;
	margin-top: 50px;
	font-size: 3.5vw;
}

.advantages__img-box {
	width: 10vw;
	height: 10vw;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.advantages__img {
	width: 45%;
}

.advantages__img-box--blue {
	background-color: var(--color--logo-1);
}

.advantages__text {
	font-size: 2.6vw;
	margin-top: 25px;
	max-width: 25vw;
	font-weight: 500;
}

.advantages__img-box--orange {
	background-color: var(--color--middle);
}

.advantages__img-box--green {
	background-color: var(--color--logo-3);
}

.advantages__text,
.advantages__item {
	text-align: center;
}

.advantages__item {
	width: 22vw;
}

.advantages__text-long {
	width: 100%;
}

/* DESCRIPTION */

.description__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.description__box {
	width: 50%;
}

.description__title {
	margin-top: 100px;
	text-align: left;
	width: 35vw;
	color: var(--color-dark-background);
	font-weight: 600;
	margin-left: 0;
	margin-bottom: 20px;
	font-size: 3.5vw;
}

.description__text {
	text-align: left;
	font-size: 2vw;
}

.description__article {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-left: 50px;
}

.button--blue {
	background-color: var(--color--logo-1);
	margin-top: 30px;
	margin-left: 50px;
	padding: 10px 15px;
}

.description__img-box {
	width: 35vw;
	margin-top: 100px;
}

/* REVIEW */

.review {
	background: url(./../images/banner/testmonial.png);
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 0;
	padding-bottom: 60%;
	margin-top: 40px;
}

.review__layer {
	background-color: var(--color--review-background);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.review__title {
	color: var(--color-light-background);
	max-width: 40%;
	text-align: center;
	font-weight: 600;
	width: 35vw;
	font-size: 3.5vw;
}

.review__box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.review__text {
	color: var(--color-light-background);
	max-width: 85%;
	text-align: center;
	margin-top: 30px;
	font-size: 2vw;
	font-weight: 500;
}

.review__list {
	display: flex;
	column-gap: 5px;
}

.review__opinion {
	display: flex;
	margin-top: 30px;
	align-items: center;
}

.review__star {
	color: gold;
	font-size: 2vw;
}

.review__author {
	padding-left: 3px;
	color: var(--color-light-background);
	font-size: 2vw;
}

/* PACKAGE */

.package {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 100px;
}

.package__info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.package__title {
	color: var(--color-dark-background);
	font-weight: 600;
	margin-left: 0;
	margin-right: 0;
	font-size: 3.5vw;
	max-width: 40%;
	text-align: center;
	font-weight: 600;
	width: 35vw;
}

.package__text {
	font-size: 2vw;
	margin: 20px 60px 10px 60px;
	width: 65vw;
	text-align: center;
}

.package__cards {
	display: flex;
	flex-basis: 30%;
	align-items: center;
}

.package__card {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	box-shadow: 1px 15px 25px 8px lightgrey;
}

.package__header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.package__header--top {
	background-color: var(--color--basic);
}

.package__header-title,
.package__price {
	font-weight: 900;
	font-size: 2.1vw;
}

.package__price--top {
	color: var(--color--logo-1);
}

.package__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 30px;
	font-size: 2.1vw;
	padding-left: 20px;
	padding-right: 20px;
}

.package__item {
	margin-top: 30px;
}

.package__button {
	border-radius: 5px;
	border-color: var(--color--review-background);
	font-size: 2.1vw;
	color: var(--color--review-background);
	text-align: center;
	margin-bottom: 30px;
	padding: 10px 30px;
	background-color: #ffffff;
}

.package__price--middle {
	color: var(--color--middle);
}

.package__header--middle {
	background-color: var(--color--middle-background);
}

.package__header--bottom {
	background-color: var(--color--bottom-background);
}

.package__price--bottom {
	color: var(--color--logo-3);
}

.package__card--top,
.package__card--bottom {
	height: 80%;
}

/* LOGOs */

.logos {
	background-color: var(--color--logo-1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logos__title {
	padding-top: 100px;
	padding-left: 50px;
	color: var(--color-light-background);
	font-size: 5.2vw;
	font-weight: 500;
	width: 80%;
	align-self: flex-start;
}

.logos__box {
	display: flex;
	margin-top: 20px;
	column-gap: 5px;
	margin-bottom: 100px;
	justify-content: center;
	margin-right: 20px;
}

.logos__img-google {
	width: 20vw;
}

.logos__img-app {
	width: 17vw;
}

/* APPLAB */

.applab__container {
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
}

.applab__box--upper,
.applab__box--lower {
	display: flex;
	column-gap: 50px;
}

.applab {
	background-color: var(--color-dark-background);
}

.applab__box--upper {
	margin-top: 60px;
	padding-left: 50px;
	padding-right: 50px;
}

.applab__box--lower {
	margin-top: 35px;
	padding-left: 50px;
	padding-right: 50px;
}

.applab__logo-box,
.applab__services-box,
.applab__links-box,
.applab__downloads-box {
	flex-basis: 50%;
}

.applab__text {
	color: var(--color--basic);
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 2.1vw;
}

.applab__logo-list {
	display: flex;
	column-gap: 10px;
	margin-top: 25px;
}

.applab__logo {
	padding-bottom: 25px;
}
.applab__item {
	background-color: var(--color--round-background);
	opacity: 0.9;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.applab__icon {
	color: var(--color--basic);
}

.applab__title {
	color: var(--color-light-background);
	font-size: 3.6vw;
	padding-bottom: 25px;
}

.applab__list-item {
	color: var(--color--basic);
	margin-top: 23px;
	font-size: 2.1vw;
}

/* FOOTER */

.footer {
	background-color: var(--color-dark-background);
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 2.1vw;
	display: flex;
	justify-content: center;
}

.footer__text {
	color: var(--color--basic);
}

.footer__divide {
	border-left: 1px solid var(--color--basic);
	height: 2.1vw;
	width: 0;
	margin-right: 2px;
}

.footer__company {
	color: var(--color--logo-1);
	margin-left: 5px;
}
